@import url('https://fonts.googleapis.com/css?family=Orbitron');
$primary: #9fded5;
$secondary: #f0e14a;
$success: #2ee322;
$border-radius: 1rem;
@import '~bootstrap/scss/bootstrap';
body {
    font-family: 'Orbitron', cursive;
}